{% extends 'admin_dashboard/base.html' %}
{% block body %}
{% load static %}
{%block menu_items_rlp%}active{%endblock%}
{%block menu_items_rlap%}active {%endblock%}
{%block menu_open_rlap%}menu-open{%endblock%}
{%block menu_items_add_new_role%}active{%endblock%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{gen.Application_Name}} | Access Permissions{% endblock %}</title> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Trirong">
    <link rel = "stylesheet" href="../../../static/css/role_and_permissions.css">

    <!-- <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet"> -->

  <script>
    
    setTimeout(function() { 
      $('.allert-error').fadeOut('slow'); 
      $('.allert-success').fadeOut('slow');   }, 3500);

  </script>

      
  <style>
      
    div.btnn {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    }
        
    /* 
    Alert messages 
    */

    .allert-error {
    padding: 12px;
    background-color: #f44336;
    color: white;
    
    }
     
    /* 
    success message 
    */

    .allert-success {
    padding: 12px;
    background-color: #469412;
    color: white;
    }

    .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
    }

    .closebtn:hover {
    color: black;
    }

  </style>

</head>

<body>
    <!-- Content Wrapper. Contains page content -->
  <form action="{% url 'save_permissions' module.id %}" method='post'>{% csrf_token %}
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <div class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h3 class="m-0 text-dark">Access Permissions : {{role}}</h3>
            </div><!-- /.col -->
            <div class="col-sm-6">
              <div class="d-inline-block float-right" style="margin-right : 13ex;">
                <a href="#" onclick="window.history.go(-1); return false;" class="btn btn-primary pull-right"><i class="fa fa-reply mr5"></i> Back</a>
              </div>
            </div><!-- /.col -->
          </div><!-- /.row -->
        </div><!-- /.container-fluid -->
        {% for msg in messages %} 
        <br> 
      <div class="allert-{{msg.tags}}">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
          {{msg}}
        </div>
                  {%endfor%}
      </div>
      <!-- <i class="fa fa-hand-o-left" aria-hidden="true"></i>     Back Button -->
      <!-- <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Admin Permission -->

      <!-- /.content-header -->
    <br>
    <div class="container" style="margin-left: 1%">

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      <!-- Profile -->
      <div class="prof">
        <span style="margin-right: 17.8%;"><b>Profile</b></span>
          <div class="custom-control custom-switch" style="display: inline; margin-right: 10%;">

            {% if module.profile == 1 %}
              <input type="checkbox" class="custom-control-input" id="customSwitches-1" name="profile" checked>
            {% else %}
              <input type="checkbox" class="custom-control-input" id="customSwitches-1" name="profile">
            {% endif %}

            <label class="custom-control-label" for="customSwitches-1"></label>
          </div>
      </div>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">
      
      <!-- Admin -->
      <div class= "user">
        <span style="margin-right: 17.9%;"><b>Admin</b></span>
        <div class="custom-control custom-switch" style="display: inline;margin-right: 10%;">

          {% if module.admin == 1 %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-2" name="admin" checked>
          {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-2" name="admin">
          {% endif %}

          <label class="custom-control-label" for="customSwitches-2"></label>
        </div>
      </div>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

       <!-- Role & Permissions -->
       <div class= "user">
        <span style="margin-right: 9.4%;"><b>Roles & Permissions</b></span>
          <div class="custom-control custom-switch" style="display: inline;margin-right: 10%;">

            {% if module.roles_permissions == 1 %}
              <input type="checkbox" class="custom-control-input" id="customSwitches-3" name="rlp" checked>
            {% else %}
              <input type="checkbox" class="custom-control-input" id="customSwitches-3" name="rlp">
            {% endif %}

            <label class="custom-control-label" for="customSwitches-3"></label>
          </div>
        </div>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      <!-- Activity Log -->
      <div class="loc">
        <span style="margin-right: 14.7%;"><b>Activity Log</b></span>
        <div class="custom-control custom-switch" style="display: inline; margin-right: 10%;">

          {% if module.log == 1 %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-4" name="log" checked>
          {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-4" name="log">
          {% endif %}

          <label class="custom-control-label" for="customSwitches-4"></label>
        </div>
      </div>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      <!-- Settings -->
      <div class= "user">
        <span style="margin-right: 17%;"><b>Settings</b></span>
        <div class="custom-control custom-switch" style="display: inline;margin-right: 10.4%;">

          {% if module.settings == 1 %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-5" name="settings" checked>
          {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-5" name="settings">
          {% endif %}

          <label class="custom-control-label" for="customSwitches-5"></label>
        </div>
      </div>

      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      <!-- CRUD -->
      <div class= "user">
        <span style="margin-right: 18.6%;"><b>CRUD</b></span>
        <div class="custom-control custom-switch" style="display: inline;margin-right: 10%;">

          {% if module.crud == 1 %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-6" name="crud" checked>
          {% else %}
            <input type="checkbox" class="custom-control-input" id="customSwitches-6" name="crud">
          {% endif %}

          <label class="custom-control-label" for="customSwitches-6"></label>
        </div>
      </div>
    
      <hr style="height:2px;border-width:0;color:gray;background-color:gray">

      <div class = "button" style="text-align:center">
        <input type = "submit" value = "Save Changes">
      </div>

      <div class = "button" style = "text-align:center">
          <input type= "reset" value = "Reset Data" style="background-color: #ffc107;">
      </div>

    </div>
    <!-- jQuery -->
    <script src={%static 'plugins/jquery/jquery.min.js' %}></script>
    </div>
  </form>
    {% endblock %}    
</body>
</html>
