
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{gen.Application_Name}} | Registration {% endblock %}</title>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/Register.css' %}">

</head>

<body>
    
    </div>

    <div class="container">
        <div class="title">Registration</div>
        <form action="{%url 'Register'%}" method='post'>{% csrf_token %}
            <div class="user-details">
                <div class="input-box">
                    <span class="details">First Name</span>
                    <input type="text" name="first_name" placeholder="Enter your First Name" required>
                </div>
                <div class="input-box">
                    <span class="details">Last Name</span>
                    <input type="text" placeholder="Enter your Last Name" name="last_name" required>
                </div>
                <div class="input-box">
                    <span class="details">User Name</span>
                    <input type="text" placeholder="Enter your Username" name="user_name" required>
                </div>
                <div class="input-box">
                    <span class="details">Email</span>
                    <input type="text" placeholder="Enter your Email" name="email_address" required>
                </div>
                <div class="input-box">
                    <span class="details">Password</span>
                    <input type="password" class="pass-key" name="password" placeholder="Enter your Password" required>
                    <br>
                </div>
                <div class="input-box">
                    <span class="details">Confirm Password</span>
                    <input type="password" class="pass-key" name="confirm_password"
                        placeholder="Enter your Confirm Password" required>
                </div>
                <span class="show" style="cursor: pointer; color: yellow;">Show Password</span>
            </div>
            <div class="button" style="text-align:center">
                <input type="submit" value="Register">

            </div>
            <br>
            {% for msg in messages %}  
            <div class="alert-{{msg.tags}}">
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
             {{msg}}
              </div>
                        {%endfor%}
        </form>
       <br>
        <div class="register"><a href="{% url 'Login'%}">Back to Login</a></div>

        <script>

            const pass_field = document.querySelector('.pass-key');
            const showBtn = document.querySelector('.show');
            showBtn.addEventListener('click', function () {
                if (pass_field.type === "password") {
                    pass_field.type = "text";
                    showBtn.textContent = "Hide Password";
                    showBtn.style.color = "#3498db";
                }
                else {
                    pass_field.type = "password";
                    showBtn.textContent = "Show Password";
                    showBtn.style.color = "Yellow";
                }
            });

        </script>


<script>
  
  setTimeout(function() { 
    $('.allert-error').fadeOut('slow'); 
    $('.allert-success').fadeOut('slow');   }, 3500);

</script>
</body>

</html>