{% extends 'admin_dashboard/base.html' %}
    {% block body %}
  {%  load static %} 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate CRUD</title>
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script> -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel = "stylesheet" href="../../../static/css/admin_dashboard/crud2.css">

    <script>
        function addMore() {
	    $(".form1:last").clone().insertAfter(".form1:last").find("input[type=text], textarea").val("");;	
    }
    </script>

</head>
<body>
  <!-- Content Wrapper. Contains page content -->
  <form action="{%url 'CrudGenerator'%}" method='post'>{% csrf_token %}
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">CRUD GENERATOR</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="{% url 'DashBoard'%}">Home</a></li>
              <li class="breadcrumb-item active">CRUD GENERATOR</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    <div class = "mcontainer" style = "position:absolute; right:40px;">
        <form action = "#">
            <div class = "user-details">
                <div class = "input-box">
                    <span class = "details" style="font-size: 17px;"><b>Module Name</b></span> 
                            &emsp;&emsp; &emsp;&emsp;&emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;
                    &emsp; &emsp;<span class = "details" style="font-size: 17px;"><b>Database Table Name</b></span><br>
                    <input type = "text" style="font-size: 14px;" placeholder="Enter your Module Name" name="Module" required>&emsp;&emsp;  &emsp;&emsp;  &emsp;
                    <input type = "text" style="font-size: 13px;" placeholder="Enter your Database Table Name" name="Table" required> <br> <br> <br>
                </div>  
            </div>
        </form>
        <div class = "btnn" style="right: 78rem;">
            <button class = "btn btn-danger" onClick="addMore();" type="button">Add Fields</button>
        </div>
    
    <br> <br> <br>
    <br>
    <div class = "container1">
        <div class = "form1">
                <div class = "input-box">
                    <input type = "text" style="font-size: 15px;" placeholder="Field Label" name="label" required> &emsp;  &emsp; &emsp;  
                    <input type = "text" style="font-size: 15px;" placeholder="Field Name" name="name" required> &emsp;  &emsp; &emsp;  
                     <br> <br>
                </div>

                <div class = "input-box" >
                    
                    <select id="data" name="d_type" style="font-size: 15px;">
                        <option value="" disabled selected> Data Types </option>
                        <option value="Char">Char</option>
                        <option value="Varchar">Varchar</option>
                        <option value="int">int</option>
                        <option value="long">long</option>
                        <option value="float">float</option>
                        <option value="byte">byte</option>        
                        <option value="boolean">boolean</option>
                    </select>    
                </div> <br> 
                <div class = "input-box">
                    <input type = "text" style="font-size: 15px;" placeholder="Enter Length of Data Type" name="length" required>
                    &emsp;  &emsp; &emsp;&emsp;  &emsp; &emsp;&emsp;  &emsp; &emsp;&emsp;  &emsp; &emsp;
                    
                </div> <br><hr style="width: 100%;border: .5px solid black;"><br>
               
        </div>
        
                <div class = "button" style="text-align:center">
                  <input type = "submit" value = "Genrate CRUD">
              </div>
            </div>
          </div> 

        </form>
             
    
    {% endblock %}    
</body>
</html>

