<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate CRUD</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel = "stylesheet" href="../../../static/css/admin_dashboard/crud2.css">
</head>
<body>
    <div class="title" style="font-size: 25px;"><i class="fa fa-plus" aria-hidden="true"></i>&ensp;Generate CRUD</div>
    <hr style="height:2px;border-width:0;color:rgb(14, 12, 12);background-color:rgb(8, 8, 8)">
    <div class = "mcontainer">
        <form action = "#">
            <div class = "user-details">
                <div class = "input-box">
                    &emsp;&emsp;&emsp;<span class = "details" style="font-size: 17px;">Module Name</span> &emsp;&emsp;&emsp;&emsp;
                    &emsp;&emsp;&emsp;&emsp; &emsp;&emsp; &emsp;&emsp; &emsp;
                    &emsp; &emsp;<span class = "details" style="font-size: 17px;">Database Table Name</span><br>
                    <input type = "text" style="font-size: 15px;" placeholder="Enter your Module Name" required> &emsp;  &emsp;
                    <input type = "text" style="font-size: 15px;" placeholder="Enter your Database Table Name" required> <br> <br> <br>
                </div>  
            </div>
        </form>
    <div class = "btn" style="text-align:center">
        <input type = "submit" value = "Add Column">
    </div>
    <br> <br> <br>
    <br>
    <div class = "container1">
        <form action = "#">
                <div class = "input-box">
                    <input type = "text" style="font-size: 15px;" placeholder="Field Label" required> &emsp;  &emsp; &emsp;  
                    <input type = "text" style="font-size: 15px;" placeholder="Field Name" required> &emsp;  &emsp; &emsp;  
                    <input type = "text" style="font-size: 15px;" placeholder="Field Type" required> &emsp;  &emsp; &emsp; <br> <br>
                </div>
                <div class = "input-box" style="display: inline;">
                    <select id="valid" style="font-size: 15px;">
                        <option value="volvo">--Validation--</option>
                        <option value="saab">Saab</option>
                        <option value="opel">Opel</option>
                        <option value="audi">Audi</option>
                        </select> &emsp;  &emsp; &emsp;
                    <select id="data" style="font-size: 15px;">
                        <option value="volvo">Data Types</option>
                        <option value="volvo">Char</option>
                        <option value="saab">Varchar</option>
                        <option value="opel">int</option>
                        <option value="audi">long</option>
                        <option value="audi">float</option>
                        <option value="audi">byte</option>        
                        <option value="audi">boolean</option>
                    </select>    
                </div> <br> <br>
                <div class = "input-box">
                    <input type = "text" style="font-size: 15px;" placeholder="Enter Length of Data Type" required>
                </div> 
                <div class = "button" style="text-align:center">
                    <input type = "submit" value = "Genrate CRUD">
                </div>
        </form>        
    </div>
    </div>        
</body>
</html>