<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../../static/css/forgot_pass.css" />
</head>
<body>
    <h1>Admin4</h1>
    <div class="center">
        <h3>Forgot Password</h3>
        <form method="post">
            <div class="txt_field">
                <input type="text" required />
                <span></span>
                <label>Email Address</label>
            </div>
            <div class="submit">
                <input type="submit" value="Submit" />
            </div>
            <br>
            <div class="signin">
                <a href="../accounts/login.html">You remember password? Sign In</a>
            </div>
            <br>
        </form>
    </div>
</body>
</html>