<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../static/css/new_pass.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="center">
      <h3>Reset Password</h3>
      <form method="post">
      {%csrf_token%}
      {%for field in form %}
        <div class="form-group">
        {{field.label}}
        <br>
         {{field}}
        </div>
         {%endfor%}
              
{%if field.errors%}
<div class="alert alert-danger">
    {{field.errors}}
</div>
{%endif%}
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </div>
    <script>
      var password = document.getElementById("pwd");
      var confirm_password = document.getElementById("cpwd");

      function validatePassword() {
        if (password.value != confirm_password.value) {
          confirm_password.setCustomValidity("Passwords Don't Match");
        } else {
          confirm_password.setCustomValidity("");
        }
      }

      password.onchange = validatePassword;
      confirm_password.onkeyup = validatePassword;
    </script>
  </body>
</html>
